<!doctype html>
{% load static %}
<html lang="en">
  <head>
      <style>
          .profile-heading {
              padding-top: 10%;
              padding-bottom: 10%;
              color: white;
          }
          .headerr {
              background: linear-gradient(101.82deg, #FF0000 0%, #FF9900 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
          }
          .bg-1 { 
              background-image: url("https://i.imgur.com/o7NgjyU.png");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50% 50%;
              
          }
          .foto-profil{
              border-radius: 50%;
              max-width: 20%;
              height: auto;
          }
          .profile-about {
              color: lightgrey;
          }
          .text-windu {
              color: white;
          }
      </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Your Account on Windu's Page</title>

    <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body class="bg-dark">

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="headerr text-white">About</h4>
              <p class="text-muted">This is Windu Andira's profile page. It contains all about Windu's life such as his academy, hobby, and his experience. Need to explore more? please contact Windu!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="headerr text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.instagram.com/winduandira/" class="text-white">Follow on Instagram</a></li>
                <li><a href="https://www.facebook.com/Keibbom" class="text-white">Add on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
            <strong class="headerr">Windu's Profile</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
	
	<div class="container-fluid profile-heading text-center bg-1">
          <h1>Create an Account</h1>
          <p class='profile-about'>Register and connect to other user</p>
        </div>

      <div class="album py-5 bg-dark">
        <div class="container">
            
            <div class="form-group">
             <label class="col-sm-2 control-label text-windu">Name :</label>
             <div class="col-sm-10">
              <input class="form-control" id="name" placeholder="Enter your name here" name="name">
             </div>
            </div>
			
            <div class="form-group">
             <label class="col-sm-2 control-label text-windu">Date of Birth :</label>
             <div class="col-sm-10">
              <input type="date" class="form-control" id="date" name="date">
             </div>
            </div>
			
            <div class="form-group">
             <label class="col-sm-2 control-label text-windu">Email :</label>
             <div class="col-sm-10">
              <input class="form-control" type="email" id="email" placeholder="Enter your email here" name="email">
             </div>
            </div>
			
            <div class="form-group">
             <label class="col-sm-2 control-label text-windu">Username :</label>
             <div class="col-sm-10">
              <input class="form-control" id="username" placeholder="Enter your username here" name="username">
             </div>
            </div>
			
           <div class="form-group">
             <label class="col-sm-2 control-label text-windu">Password :</label>
             <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password here">
             </div>
            </div>
			
			<div class="form-group">
             <label class="col-sm-2 control-label text-windu">Confirm Password :</label>
             <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password" placeholder="Confirm your password here">
             </div>
            </div>
			
            <p class="float-left">
             <a href="{% url 'index' %}" class="btn btn-primary my-2 " style="background: linear-gradient(101.82deg, #FF0000 0%, #FF9900 100%)">Register</a>
            </p>
  
        </div>
      </div>

    <footer class="text-muted">
      <div class="container-fluid bg-dark">
        <p class="float-right">
          <a href="#" class="headerr">Back to top</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>
