<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <p style="text-align:center;"><img src="https://imgur.com/rUQ8zss.jpg" alt="Windu" width="125" height="167"></p>
    <h1 ALIGN=CENTER>Hello my name is {{ name }}</h1>
    <article ALIGN=CENTER>I am {{ age }} years old</article>
    <article ALIGN=CENTER>NPM : {{ npm }}</article>
    <article ALIGN=CENTER>aku berada di kelas PPW D</article>
    <article ALIGN=CENTER>Jurusan Sistem Informasi</article>
    <article ALIGN=CENTER>Universitas Indonesia</article>
	<article ALIGN=CENTER>Hobiku menggambar</article>
	<article ALIGN=CENTER>Aku pendiam tapi mudah bergaul<article>
    <p style="text-align:center;"><img src="https://i.imgur.com/b34ylWj.jpg" alt="Siti" width="125" height="167"></p>
	<h1 ALIGN=CENTER>Siti Nurfitriyah</h1>
    <article ALIGN=CENTER>Ia berumur 19 tahun</article>
    <article ALIGN=CENTER>NPM : 1706984745</article>
    <article ALIGN=CENTER>Ia berada di kelas PPW D</article>
    <article ALIGN=CENTER>Jurusan Sistem Informasi</article>
    <article ALIGN=CENTER>Universitas Indonesia</article>
	<article ALIGN=CENTER>Hobi Fitri adalah menyanyi di kamar mandi</article>
	<article ALIGN=CENTER>Fitri adalah orang yang baik hati, tidak sombong, dan suka menabung</article>
    <p style="text-align:center;"><img src="https://imgur.com/sKLXVOF.jpg" alt="Fariz" width="125" height="167"></p>
    <h1 ALIGN=CENTER>Muhammad Fariz Farhan</h1>
    <article ALIGN=CENTER>Ia berumur 19 tahun</article>
    <article ALIGN=CENTER>NPM : 1706043380</article>
    <article ALIGN=CENTER>Ia berada di kelas PPW D</article>
    <article ALIGN=CENTER>Jurusan Sistem Informasi</article>
    <article ALIGN=CENTER>Universitas Indonesia</article>
    <article ALIGN=CENTER>Hobi Fariz adalah tidur</article>
    <article ALIGN=CENTER>Fariz adalah orang yang seru dan bersemangat</article>
</body>
</html>
